.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
  
body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculatorPanel {
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content:flex-start;
    width: 500px;
    height: 500px;
    padding: 20px;
    gap:20px;

    background-color: beige;
    border: groove black 2px;
    border-radius: 10px;
}

#display{
    display: flex;
    align-items: center;
    justify-content:center;

    width: 500px;
    min-height: 50px;;
    max-height: 50px;
    background-color:aliceblue;

    font-family: "VT323";
    font-size: 64px;
    text-align: center;

    border-radius: 10px;
    border: inset;
}

#displayText {
  box-sizing:border-box;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

#buttonGrid {
    display: flex;
    align-content: center;
    justify-content: stretch;
    flex-wrap: wrap;
    gap: 20px
}

.btn {
    display: flex;
    flex: 1 0 21%;
    height: 70px;

    align-items: center;
    justify-content: center;

    margin: auto;

    background-color: darkgray;
    border-radius: 10px;
    border: solid black 2px;
    /* box-shadow: 2px 1px 0px 0.5px; */

    font-size: 32px;
    font-weight: bold;
    font-family: monospace;
}

.btnOp { background-color:bisque}

#btnClear, #btnDelete { background-color: tomato }

#btnDelete { flex: 1 0 47%; }

#btnEqual{
  display: flex;
  flex: 1 0 47%;
  align-items: center;
  justify-content: center;
  margin: auto;

  background-color:cadetblue ;
}
